<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.orange1438.managementsystem.dao.PermissionDAO">
  <resultMap id="BaseResultMap" type="indi.orange1438.managementsystem.dao.entity.Permission">
      <id column="PERMISSION_ID" jdbcType="BIGINT" property="permissionId"/>
      <result column="PERMISSION_NAME" jdbcType="VARCHAR" property="permissionName"/>
      <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
      <result column="ADD_RIGHTS" jdbcType="BIT" property="addRights"/>
      <result column="ADD_TITLE" jdbcType="VARCHAR" property="addTitle"/>
      <result column="DELETE_RIGHTS" jdbcType="BIT" property="deleteRights"/>
      <result column="DELETE_TITLE" jdbcType="VARCHAR" property="deleteTitle"/>
      <result column="EDIT_RIGHTS" jdbcType="BIT" property="editRights"/>
      <result column="EDIT_TITLE" jdbcType="VARCHAR" property="editTitle"/>
      <result column="VIEW_RIGHTS" jdbcType="BIT" property="viewRights"/>
      <result column="VIEW_TITLE" jdbcType="VARCHAR" property="viewTitle"/>
      <result column="IMPORT_RIGHTS" jdbcType="BIT" property="importRights"/>
      <result column="IMPORT_TITLE" jdbcType="VARCHAR" property="importTitle"/>
      <result column="EXPORT_RIGHTS" jdbcType="BIT" property="exportRights"/>
      <result column="EXPORT_TITLE" jdbcType="VARCHAR" property="exportTitle"/>
      <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
      <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
      <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
      <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PERMISSION_ID, PERMISSION_NAME, DESCRIPTION, ADD_RIGHTS, ADD_TITLE, DELETE_RIGHTS, 
    DELETE_TITLE, EDIT_RIGHTS, EDIT_TITLE, VIEW_RIGHTS, VIEW_TITLE, IMPORT_RIGHTS, IMPORT_TITLE, 
    EXPORT_RIGHTS, EXPORT_TITLE, CREATE_TIME, CREATOR, MODIFY_TIME, MODIFIER
  </sql>
    <select id="selectByExample" parameterType="indi.orange1438.managementsystem.dao.entity.PermissionExample"
            resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
        <include refid="Base_Column_List"/>
    from sys_permission
    <if test="_parameter != null">
        <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
    from sys_permission
    where PERMISSION_ID = #{permissionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_permission
    where PERMISSION_ID = #{permissionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="indi.orange1438.managementsystem.dao.entity.PermissionExample">
    delete from sys_permission
    <if test="_parameter != null">
        <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="indi.orange1438.managementsystem.dao.entity.Permission">
    insert into sys_permission (PERMISSION_ID, PERMISSION_NAME, DESCRIPTION, 
      ADD_RIGHTS, ADD_TITLE, DELETE_RIGHTS, 
      DELETE_TITLE, EDIT_RIGHTS, EDIT_TITLE, 
      VIEW_RIGHTS, VIEW_TITLE, IMPORT_RIGHTS, 
      IMPORT_TITLE, EXPORT_RIGHTS, EXPORT_TITLE, 
      CREATE_TIME, CREATOR, MODIFY_TIME, 
      MODIFIER)
    values (#{permissionId,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{addRights,jdbcType=BIT}, #{addTitle,jdbcType=VARCHAR}, #{deleteRights,jdbcType=BIT}, 
      #{deleteTitle,jdbcType=VARCHAR}, #{editRights,jdbcType=BIT}, #{editTitle,jdbcType=VARCHAR}, 
      #{viewRights,jdbcType=BIT}, #{viewTitle,jdbcType=VARCHAR}, #{importRights,jdbcType=BIT}, 
      #{importTitle,jdbcType=VARCHAR}, #{exportRights,jdbcType=BIT}, #{exportTitle,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="indi.orange1438.managementsystem.dao.entity.Permission">
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        PERMISSION_ID,
      </if>
      <if test="permissionName != null">
        PERMISSION_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="addRights != null">
        ADD_RIGHTS,
      </if>
      <if test="addTitle != null">
        ADD_TITLE,
      </if>
      <if test="deleteRights != null">
        DELETE_RIGHTS,
      </if>
      <if test="deleteTitle != null">
        DELETE_TITLE,
      </if>
      <if test="editRights != null">
        EDIT_RIGHTS,
      </if>
      <if test="editTitle != null">
        EDIT_TITLE,
      </if>
      <if test="viewRights != null">
        VIEW_RIGHTS,
      </if>
      <if test="viewTitle != null">
        VIEW_TITLE,
      </if>
      <if test="importRights != null">
        IMPORT_RIGHTS,
      </if>
      <if test="importTitle != null">
        IMPORT_TITLE,
      </if>
      <if test="exportRights != null">
        EXPORT_RIGHTS,
      </if>
      <if test="exportTitle != null">
        EXPORT_TITLE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="addRights != null">
        #{addRights,jdbcType=BIT},
      </if>
      <if test="addTitle != null">
        #{addTitle,jdbcType=VARCHAR},
      </if>
      <if test="deleteRights != null">
        #{deleteRights,jdbcType=BIT},
      </if>
      <if test="deleteTitle != null">
        #{deleteTitle,jdbcType=VARCHAR},
      </if>
      <if test="editRights != null">
        #{editRights,jdbcType=BIT},
      </if>
      <if test="editTitle != null">
        #{editTitle,jdbcType=VARCHAR},
      </if>
      <if test="viewRights != null">
        #{viewRights,jdbcType=BIT},
      </if>
      <if test="viewTitle != null">
        #{viewTitle,jdbcType=VARCHAR},
      </if>
      <if test="importRights != null">
        #{importRights,jdbcType=BIT},
      </if>
      <if test="importTitle != null">
        #{importTitle,jdbcType=VARCHAR},
      </if>
      <if test="exportRights != null">
        #{exportRights,jdbcType=BIT},
      </if>
      <if test="exportTitle != null">
        #{exportTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_permission (PERMISSION_ID, PERMISSION_NAME, DESCRIPTION,
        ADD_RIGHTS, ADD_TITLE, DELETE_RIGHTS,
        DELETE_TITLE, EDIT_RIGHTS, EDIT_TITLE,
        VIEW_RIGHTS, VIEW_TITLE, IMPORT_RIGHTS,
        IMPORT_TITLE, EXPORT_RIGHTS, EXPORT_TITLE,
        CREATE_TIME, CREATOR, MODIFY_TIME,
        MODIFIER)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.permissionId,jdbcType=BIGINT}, #{item.permissionName,jdbcType=VARCHAR},
            #{item.description,jdbcType=VARCHAR},
            #{item.addRights,jdbcType=BIT}, #{item.addTitle,jdbcType=VARCHAR}, #{item.deleteRights,jdbcType=BIT},
            #{item.deleteTitle,jdbcType=VARCHAR}, #{item.editRights,jdbcType=BIT}, #{item.editTitle,jdbcType=VARCHAR},
            #{item.viewRights,jdbcType=BIT}, #{item.viewTitle,jdbcType=VARCHAR}, #{item.importRights,jdbcType=BIT},
            #{item.importTitle,jdbcType=VARCHAR}, #{item.exportRights,jdbcType=BIT},
            #{item.exportTitle,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.creator,jdbcType=VARCHAR},
            #{item.modifyTime,jdbcType=TIMESTAMP},
            #{item.modifier,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertBatchSelective" parameterType="java.util.List">
        insert into sys_permission
        (PERMISSION_ID, PERMISSION_NAME, DESCRIPTION, ADD_RIGHTS, ADD_TITLE, DELETE_RIGHTS,
        DELETE_TITLE, EDIT_RIGHTS, EDIT_TITLE, VIEW_RIGHTS, VIEW_TITLE, IMPORT_RIGHTS,
        IMPORT_TITLE, EXPORT_RIGHTS, EXPORT_TITLE, CREATE_TIME, CREATOR, MODIFY_TIME, MODIFIER
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.permissionId != null">
                    #{item.permissionId,jdbcType=BIGINT},
                </if>
                <if test="item.permissionId == null">
                    NULL,
                </if>
                <if test="item.permissionName != null">
                    #{item.permissionName,jdbcType=VARCHAR},
                </if>
                <if test="item.permissionName == null">
                    NULL,
                </if>
                <if test="item.description != null">
                    #{item.description,jdbcType=VARCHAR},
                </if>
                <if test="item.description == null">
                    NULL,
                </if>
                <if test="item.addRights != null">
                    #{item.addRights,jdbcType=BIT},
                </if>
                <if test="item.addRights == null">
                    NULL,
                </if>
                <if test="item.addTitle != null">
                    #{item.addTitle,jdbcType=VARCHAR},
                </if>
                <if test="item.addTitle == null">
                    NULL,
                </if>
                <if test="item.deleteRights != null">
                    #{item.deleteRights,jdbcType=BIT},
                </if>
                <if test="item.deleteRights == null">
                    NULL,
                </if>
                <if test="item.deleteTitle != null">
                    #{item.deleteTitle,jdbcType=VARCHAR},
                </if>
                <if test="item.deleteTitle == null">
                    NULL,
                </if>
                <if test="item.editRights != null">
                    #{item.editRights,jdbcType=BIT},
                </if>
                <if test="item.editRights == null">
                    NULL,
                </if>
                <if test="item.editTitle != null">
                    #{item.editTitle,jdbcType=VARCHAR},
                </if>
                <if test="item.editTitle == null">
                    NULL,
                </if>
                <if test="item.viewRights != null">
                    #{item.viewRights,jdbcType=BIT},
                </if>
                <if test="item.viewRights == null">
                    NULL,
                </if>
                <if test="item.viewTitle != null">
                    #{item.viewTitle,jdbcType=VARCHAR},
                </if>
                <if test="item.viewTitle == null">
                    NULL,
                </if>
                <if test="item.importRights != null">
                    #{item.importRights,jdbcType=BIT},
                </if>
                <if test="item.importRights == null">
                    NULL,
                </if>
                <if test="item.importTitle != null">
                    #{item.importTitle,jdbcType=VARCHAR},
                </if>
                <if test="item.importTitle == null">
                    NULL,
                </if>
                <if test="item.exportRights != null">
                    #{item.exportRights,jdbcType=BIT},
                </if>
                <if test="item.exportRights == null">
                    NULL,
                </if>
                <if test="item.exportTitle != null">
                    #{item.exportTitle,jdbcType=VARCHAR},
                </if>
                <if test="item.exportTitle == null">
                    NULL,
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createTime == null">
                    NULL,
                </if>
                <if test="item.creator != null">
                    #{item.creator,jdbcType=VARCHAR},
                </if>
                <if test="item.creator == null">
                    NULL,
                </if>
                <if test="item.modifyTime != null">
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.modifyTime == null">
                    NULL,
                </if>
                <if test="item.modifier != null">
                    #{item.modifier,jdbcType=VARCHAR},
                </if>
                <if test="item.modifier == null">
                    NULL,
                </if>
            </trim>
        </foreach>
    </insert>
    <select id="countByExample" parameterType="indi.orange1438.managementsystem.dao.entity.PermissionExample"
            resultType="java.lang.Long">
    select count(*) from sys_permission
    <if test="_parameter != null">
        <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_permission
    <set>
      <if test="record.permissionId != null">
          PERMISSION_ID = #{record..permissionId,jdbcType=BIGINT},
      </if>
      <if test="record.permissionName != null">
          PERMISSION_NAME = #{record..permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
          DESCRIPTION = #{record..description,jdbcType=VARCHAR},
      </if>
      <if test="record.addRights != null">
          ADD_RIGHTS = #{record..addRights,jdbcType=BIT},
      </if>
      <if test="record.addTitle != null">
          ADD_TITLE = #{record..addTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteRights != null">
          DELETE_RIGHTS = #{record..deleteRights,jdbcType=BIT},
      </if>
      <if test="record.deleteTitle != null">
          DELETE_TITLE = #{record..deleteTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.editRights != null">
          EDIT_RIGHTS = #{record..editRights,jdbcType=BIT},
      </if>
      <if test="record.editTitle != null">
          EDIT_TITLE = #{record..editTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.viewRights != null">
          VIEW_RIGHTS = #{record..viewRights,jdbcType=BIT},
      </if>
      <if test="record.viewTitle != null">
          VIEW_TITLE = #{record..viewTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.importRights != null">
          IMPORT_RIGHTS = #{record..importRights,jdbcType=BIT},
      </if>
      <if test="record.importTitle != null">
          IMPORT_TITLE = #{record..importTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.exportRights != null">
          EXPORT_RIGHTS = #{record..exportRights,jdbcType=BIT},
      </if>
      <if test="record.exportTitle != null">
          EXPORT_TITLE = #{record..exportTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
          CREATE_TIME = #{record..createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
          CREATOR = #{record..creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
          MODIFY_TIME = #{record..modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
          MODIFIER = #{record..modifier,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
        <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_permission
      set PERMISSION_ID = #{record..permissionId,jdbcType=BIGINT},
      PERMISSION_NAME = #{record..permissionName,jdbcType=VARCHAR},
      DESCRIPTION = #{record..description,jdbcType=VARCHAR},
      ADD_RIGHTS = #{record..addRights,jdbcType=BIT},
      ADD_TITLE = #{record..addTitle,jdbcType=VARCHAR},
      DELETE_RIGHTS = #{record..deleteRights,jdbcType=BIT},
      DELETE_TITLE = #{record..deleteTitle,jdbcType=VARCHAR},
      EDIT_RIGHTS = #{record..editRights,jdbcType=BIT},
      EDIT_TITLE = #{record..editTitle,jdbcType=VARCHAR},
      VIEW_RIGHTS = #{record..viewRights,jdbcType=BIT},
      VIEW_TITLE = #{record..viewTitle,jdbcType=VARCHAR},
      IMPORT_RIGHTS = #{record..importRights,jdbcType=BIT},
      IMPORT_TITLE = #{record..importTitle,jdbcType=VARCHAR},
      EXPORT_RIGHTS = #{record..exportRights,jdbcType=BIT},
      EXPORT_TITLE = #{record..exportTitle,jdbcType=VARCHAR},
      CREATE_TIME = #{record..createTime,jdbcType=TIMESTAMP},
      CREATOR = #{record..creator,jdbcType=VARCHAR},
      MODIFY_TIME = #{record..modifyTime,jdbcType=TIMESTAMP},
      MODIFIER = #{record..modifier,jdbcType=VARCHAR}
    <if test="_parameter != null">
        <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="indi.orange1438.managementsystem.dao.entity.Permission">
    update sys_permission
    <set>
      <if test="permissionName != null">
        PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="addRights != null">
        ADD_RIGHTS = #{addRights,jdbcType=BIT},
      </if>
      <if test="addTitle != null">
        ADD_TITLE = #{addTitle,jdbcType=VARCHAR},
      </if>
      <if test="deleteRights != null">
        DELETE_RIGHTS = #{deleteRights,jdbcType=BIT},
      </if>
      <if test="deleteTitle != null">
        DELETE_TITLE = #{deleteTitle,jdbcType=VARCHAR},
      </if>
      <if test="editRights != null">
        EDIT_RIGHTS = #{editRights,jdbcType=BIT},
      </if>
      <if test="editTitle != null">
        EDIT_TITLE = #{editTitle,jdbcType=VARCHAR},
      </if>
      <if test="viewRights != null">
        VIEW_RIGHTS = #{viewRights,jdbcType=BIT},
      </if>
      <if test="viewTitle != null">
        VIEW_TITLE = #{viewTitle,jdbcType=VARCHAR},
      </if>
      <if test="importRights != null">
        IMPORT_RIGHTS = #{importRights,jdbcType=BIT},
      </if>
      <if test="importTitle != null">
        IMPORT_TITLE = #{importTitle,jdbcType=VARCHAR},
      </if>
      <if test="exportRights != null">
        EXPORT_RIGHTS = #{exportRights,jdbcType=BIT},
      </if>
      <if test="exportTitle != null">
        EXPORT_TITLE = #{exportTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where PERMISSION_ID = #{permissionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.orange1438.managementsystem.dao.entity.Permission">
    update sys_permission
    set PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      ADD_RIGHTS = #{addRights,jdbcType=BIT},
      ADD_TITLE = #{addTitle,jdbcType=VARCHAR},
      DELETE_RIGHTS = #{deleteRights,jdbcType=BIT},
      DELETE_TITLE = #{deleteTitle,jdbcType=VARCHAR},
      EDIT_RIGHTS = #{editRights,jdbcType=BIT},
      EDIT_TITLE = #{editTitle,jdbcType=VARCHAR},
      VIEW_RIGHTS = #{viewRights,jdbcType=BIT},
      VIEW_TITLE = #{viewTitle,jdbcType=VARCHAR},
      IMPORT_RIGHTS = #{importRights,jdbcType=BIT},
      IMPORT_TITLE = #{importTitle,jdbcType=VARCHAR},
      EXPORT_RIGHTS = #{exportRights,jdbcType=BIT},
      EXPORT_TITLE = #{exportTitle,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR}
    where PERMISSION_ID = #{permissionId,jdbcType=BIGINT}
  </update>
</mapper>