<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.orange1438.managementsystem.dao.UserRoleDAO">
    <resultMap id="BaseResultMap" type="indi.orange1438.managementsystem.dao.entity.UserRole">
        <id column="USER_ROLE_ID" jdbcType="BIGINT" property="userRoleId"/>
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        USER_ROLE_ID, ROLE_ID, USER_ID, CREATE_TIME, CREATOR, MODIFY_TIME, MODIFIER
    </sql>
    <select id="selectByExample" parameterType="indi.orange1438.managementsystem.dao.entity.UserRoleExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sys_user_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_role
        where USER_ROLE_ID = #{userRoleId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_user_role
        where USER_ROLE_ID = #{userRoleId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="indi.orange1438.managementsystem.dao.entity.UserRoleExample">
        delete from sys_user_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="indi.orange1438.managementsystem.dao.entity.UserRole">
        insert into sys_user_role (USER_ROLE_ID, ROLE_ID, USER_ID,
        CREATE_TIME, CREATOR, MODIFY_TIME,
        MODIFIER)
        values (#{userRoleId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="indi.orange1438.managementsystem.dao.entity.UserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userRoleId != null">
                USER_ROLE_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userRoleId != null">
                #{userRoleId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_user_role (USER_ROLE_ID, ROLE_ID, USER_ID,
        CREATE_TIME, CREATOR, MODIFY_TIME,
        MODIFIER)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userRoleId,jdbcType=BIGINT}, #{item.roleId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.creator,jdbcType=VARCHAR},
            #{item.modifyTime,jdbcType=TIMESTAMP},
            #{item.modifier,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertBatchSelective" parameterType="java.util.List">
        insert into sys_user_role
        (USER_ROLE_ID, ROLE_ID, USER_ID, CREATE_TIME, CREATOR, MODIFY_TIME, MODIFIER)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.userRoleId != null">
                    #{item.userRoleId,jdbcType=BIGINT},
                </if>
                <if test="item.userRoleId == null">
                    NULL,
                </if>
                <if test="item.roleId != null">
                    #{item.roleId,jdbcType=BIGINT},
                </if>
                <if test="item.roleId == null">
                    NULL,
                </if>
                <if test="item.userId != null">
                    #{item.userId,jdbcType=BIGINT},
                </if>
                <if test="item.userId == null">
                    NULL,
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createTime == null">
                    NULL,
                </if>
                <if test="item.creator != null">
                    #{item.creator,jdbcType=VARCHAR},
                </if>
                <if test="item.creator == null">
                    NULL,
                </if>
                <if test="item.modifyTime != null">
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.modifyTime == null">
                    NULL,
                </if>
                <if test="item.modifier != null">
                    #{item.modifier,jdbcType=VARCHAR},
                </if>
                <if test="item.modifier == null">
                    NULL,
                </if>
            </trim>
        </foreach>
    </insert>
    <select id="countByExample" parameterType="indi.orange1438.managementsystem.dao.entity.UserRoleExample"
            resultType="java.lang.Long">
        select count(*) from sys_user_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_user_role
        <set>
            <if test="record.userRoleId != null">
                USER_ROLE_ID = #{record..userRoleId,jdbcType=BIGINT},
            </if>
            <if test="record.roleId != null">
                ROLE_ID = #{record..roleId,jdbcType=BIGINT},
            </if>
            <if test="record.userId != null">
                USER_ID = #{record..userId,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record..createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.creator != null">
                CREATOR = #{record..creator,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyTime != null">
                MODIFY_TIME = #{record..modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifier != null">
                MODIFIER = #{record..modifier,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_user_role
        set USER_ROLE_ID = #{record..userRoleId,jdbcType=BIGINT},
        ROLE_ID = #{record..roleId,jdbcType=BIGINT},
        USER_ID = #{record..userId,jdbcType=BIGINT},
        CREATE_TIME = #{record..createTime,jdbcType=TIMESTAMP},
        CREATOR = #{record..creator,jdbcType=VARCHAR},
        MODIFY_TIME = #{record..modifyTime,jdbcType=TIMESTAMP},
        MODIFIER = #{record..modifier,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="indi.orange1438.managementsystem.dao.entity.UserRole">
        update sys_user_role
        <set>
            <if test="roleId != null">
                ROLE_ID = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        where USER_ROLE_ID = #{userRoleId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="indi.orange1438.managementsystem.dao.entity.UserRole">
        update sys_user_role
        set ROLE_ID = #{roleId,jdbcType=BIGINT},
        USER_ID = #{userId,jdbcType=BIGINT},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        CREATOR = #{creator,jdbcType=VARCHAR},
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
        MODIFIER = #{modifier,jdbcType=VARCHAR}
        where USER_ROLE_ID = #{userRoleId,jdbcType=BIGINT}
    </update>
</mapper>