<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/><!-- 全局映射器启用缓存 -->
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>
    <!--<typeAliases>-->
    <!--<typeAlias type="com.cmcc.base12582.service.common.helper.db.entity.PageData" alias="pd"/>-->
    <!--<typeAlias type="com.cmcc.base12582.service.common.helper.db.entity.Page" alias="Page"/>-->
    <!--</typeAliases>-->
    <!-- 分页 -->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <!--<property name="reasonable" value="true"/>-->
            <!--<property name="supportMethodsArguments" value="true"/>-->
            <!--<property name="params" value="pageNum=start;pageSize=limit;"/>-->
            <!--<property name="autoRuntimeDialect" value="true"/>-->
        </plugin>
    </plugins>
</configuration>